body {
    background-color: lightskyblue;
}

div {
    color: white;
    width: 250px;
    height: 250px;;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#container {
    border: 2px solid black;
    width: 80%;
}

#A {
    border: 1px solid red;
    width: 20%;
    color: yellow;
}

#B {
    border: 1px solid green;
    width: 20%;
    color: red;
}

#C {
    border: 1px solid yellow;
    width: 20%;
    color: green;
}